.Form {
    margin: 40px auto;
    padding: 20px;
    width: 700px;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
}



.btnSubmit {
    margin-right: 30px;
}


.sauces-list li {
    text-transform: capitalize;
}
